<header class="app-header">
  <mat-toolbar>
    <img src=".\assets\imagens\logo.png" alt="" />
    <span>My App</span>
    <span class="spacer"></span>
    <div class="links-toolbar">
      <button mat-button>Vender milhas</button>
      <button mat-button>Sobre</button>

      <ng-container *ngIf="user$ | async as ICadastro; else login">
        <a routerLink="/perfil">
          <img src="assets/icones/user.png" alt="ícone da pessoa usuária" />
        </a>
        <button (click)="logout()" mat-stroked-button>SAIR</button>
      </ng-container>
      <ng-template #login>
        <button routerLink="/cadastro" mat-raised-button color="primary">
          CADASTRE-SE
        </button>
        <button routerLink="/login" mat-stroked-button>LOGIN</button>
      </ng-template>
    </div>
  </mat-toolbar>
</header>
