<app-banner
  src="./assets/imagens/banner-homepage.png"
  alt="Banner da aplicação jornada"
></app-banner>
<app-container>
  <h2>Promoções</h2>
  <app-form-busca></app-form-busca>
  <div *ngIf="promocoes.length > 0; else semPromocao" class="card-wrapper">
    <app-card-busca
      *ngFor="let promocao of promocoes"
      [promocao]="promocao"
    ></app-card-busca>
  </div>
  <ng-template #semPromocao>
    <span>Sem promoções encontradas. Volte mais tarde!</span>
  </ng-template>

  <h2>Depoimentos</h2>
  <div class="card-wrapper-depoimento">
    <app-card-depoimentos></app-card-depoimentos>
    <app-card-depoimentos></app-card-depoimentos>
    <app-card-depoimentos></app-card-depoimentos>
  </div>
</app-container>
