<footer class="footer">
  <div class="logoTexto">
    <img src=".\assets\imagens\logo-com-tagline.png" alt="" />
    <div class="footerText">
      <span>Horário de atendimento: 08h-20h (Segunda a Sábado)</span>
    </div>
    <div class="footerText">
      <span>Desenvolvido por Ariel - Estudos em Angular</span>
    </div>
  </div>
  <div class="footerRedesSociais">
    <span>Acesse nossas redes</span>
    <div class="imageIcons">
      <img src=".\assets\icones\whatsapp.png" alt="" />
      <img src=".\assets\icones\instagram.png" alt="" />
      <img src=".\assets\icones\twitter.png" alt="" />
    </div>
  </div>
</footer>
